
<h3>Create Advert</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Title</label>
      <input type="text" class="form-control" id="titleAdvert" required [(ngModel)]="advert.titleAdvert" name="titleAdvert">
      <label for="name">Description</label>
      <input type="text" class="form-control" id="descriptionAdvert" required [(ngModel)]="advert.descriptionAdvert" name="descriptionAdvert">
      <label for="name">Price</label>
      <input type="number" class="form-control" id="priceAdvert" required [(ngModel)]="advert.priceAdvert" name="priceAdvert">
      <label for="name">Image</label>
      <input type="text" class="form-control" id="imageAdvert" required [(ngModel)]="advert.imageAdvert" name="imageAdvert">
      <label for="name">City</label>

      <select class="form-select" name="cityId" id="cityId">
        <option *ngFor="let city of citys | async" value="{{city.cityId}}">{{city.nameCity}}</option>
      </select>
      <input type="hidden" class="form-control" value="{{userInfos.id}}" id="userId" name="userId">
      <label for="name">CATEGORY</label>
      <select class="form-select" name="categoryId" id="categoryId">
        <option *ngFor="let categorie of categories | async" value="{{categorie.categoryId}}">{{categorie.nameCategory}}</option>
      </select>
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
</div>

<app-admin-navbar></app-admin-navbar>