
<h3>Create User</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Username</label>
      <input type="text" class="form-control" id="username" required [(ngModel)]="user.username" name="username">
      <label for="name">Password</label>
      <input type="text" class="form-control" id="password" required [(ngModel)]="user.password" name="password">
      <label for="name">firstName</label>
      <input type="text" class="form-control" id="firstName" required [(ngModel)]="user.firstName" name="firstName">
      <label for="name">lastName</label>
      <input type="text" class="form-control" id="lastName" required [(ngModel)]="user.lastName" name="lastName">
      <label for="name">address</label>
      <input type="text" class="form-control" id="address" required [(ngModel)]="user.address" name="address">
      <label for="name">email</label>
      <input type="text" class="form-control" id="email" required [(ngModel)]="user.email" name="email">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
</div>

<app-admin-navbar></app-admin-navbar>