<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Users List</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Username</th>
            <th>email</th>
            <th>Status</th>
            <th>firstName</th>
            <th>lastName</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users | async">
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
            <td>{{user.actived}}</td>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>
                <button (click)="updateUser(user.userId)" class="btn btn-info">Update</button>
                <button (click)="deleteUser(user.userId)" class="btn btn-danger" style="margin-left: 10px">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <app-admin-navbar></app-admin-navbar>